<p class="legal-paragraph">
  This page describes the stored user information, which is further processed by
  the "Text To Morse" website.
</p>
<div class="legal-group">
  <h3 class="legal-group__title">Information storage</h3>
  <p class="legal-paragraph">
    We do not store users personal data on our servers. All necessary
    information is processed during initial authorization and stored in a secure
    cookie on the client's side.
  </p>
</div>
<div class="legal-group">
  <h3 class="legal-group__title">Use of information</h3>
  <p class="legal-paragraph">
    All data is used exclusively for the operation of the Website and its
    functionality.
  </p>
</div>
<div class="legal-group">
  <h3 class="legal-group__title">Storage and Use of Cookies</h3>
  <p class="legal-paragraph">
    We use cookies to ensure the operation of the website and to protect it by
    the Cloudflare service.
  </p>
  <p class="legal-paragraph">
    <a class="link" href="https://cloudflare.com">Cloudflare</a> provides CDN
    services, secure access to resources, and protection against DDoS attacks.
    They can set their own cookies, which are used to identify customers by a
    common IP address and apply some security settings for each customer.
  </p>
</div>
<div class="legal-group">
  <h3 class="legal-group__title">Deleting Cookies</h3>
  <p class="legal-paragraph">
    You can clear the saved cookies in your browser settings (use your browser's
    help). Keep in mind that disabling cookies will affect the functionality of
    this and many other websites you visit.
  </p>
</div>
<div class="legal-group">
  <h3 class="legal-group__title">Feedback</h3>
  <p class="legal-paragraph">
    If you do not agree with the processing of your data, we recommend that you
    refrain from using the Site.
  </p>
</div>
<div class="legal-group">
  <h3 class="legal-group__title">Policy Changes</h3>
  <p class="legal-paragraph">
    We may update the Policy from time to time without further notice to users.
    We recommend checking this page regularly for changes.
  </p>
</div>
