<p class="legal-paragraph">
  This page describes the terms of use of the "Text To Morse" website, as well
  as the rights and obligations of users interacting with the site and its
  functionality.
</p>
<div class="legal-group">
  <h3 class="legal-group__title">1. Introduction</h3>
  <p class="legal-paragraph">
    By using the "Text To Morse" website, you automatically agree to comply with
    our terms of use, privacy policy, and not to use the website to violate the
    laws of the Russian Federation or CIS countries. If you do not agree to any
    of these terms, please refrain from using this website and its services.
  </p>
</div>
<div class="legal-group">
  <h3 class="legal-group__title">2. The Site Owner's area of responsibility</h3>
  <p class="legal-paragraph">
    The site owner is responsible for the proper functioning of all its
    resources, as well as for their security and technical support. The owner
    guarantees that the site does not aim to harm users and their data. Any
    problems caused by the user are not the owner's problem.
  </p>
</div>
<div class="legal-group">
  <h3 class="legal-group__title">
    3. Rights and obligations of the Website Owner
  </h3>
  <p class="legal-paragraph">
    The site owner undertakes to ensure the correct operation of all resources
    available on the platform, as well as to provide technical support to users.
    It also ensures that the website will not be used to harm users or their
    data. The site owner reserves the right to change the terms of use of the
    site without prior notice, and such changes take effect from the moment they
    are published on the official website.
  </p>
  <p class="legal-paragraph">
    In addition, the site owner does not guarantee 100% availability of the site
    and its functions, but undertakes to take all necessary measures to minimize
    possible technical failures and problems.
  </p>
</div>
<div class="legal-group">
  <h3 class="legal-group__title">4. User's rights and obligations</h3>
  <p class="legal-paragraph">
    The user is obliged to use the website in accordance with the applicable
    laws and regulations of the platform. The user is prohibited from using the
    resources of the site in order to disrupt the operation of the site or harm
    other users. In case of any questions or problems with the functionality of
    the site, the user undertakes to contact the support service.
  </p>
</div>
<div class="legal-group">
  <h3 class="legal-group__title">5. Accuracy of materials</h3>
  <p class="legal-paragraph">
    The materials provided through the website may contain technical errors or
    inaccuracies. The owner does not guarantee the accuracy or relevance of the
    information. All materials are subject to change without prior notice.
  </p>
</div>
<div class="legal-group">
  <h3 class="legal-group__title">
    6. Termination of use of the website at the initiative of the User
  </h3>
  <p class="legal-paragraph">
    The user can stop using the site at any time by logging out of their account
    and revoking their OAuth Yandex token.
  </p>
</div>
