<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Text To Morse · Toiloff</title>
<meta name="darkreader-lock" />
<meta property="og:title" content="Text To Morse · Toiloff" />
<meta
  name="og:description"
  content="A fast and convenient online text converter to Morse code and back. Encrypt messages, learn Morse code and share secret messages easily and simply."
/>
<meta
  name="description"
  content="A fast and convenient online text converter to Morse code and back. Encrypt messages, learn Morse code and share secret messages easily and simply."
/>
<meta
  name="keywords"
  content="text, morse, converter, auth, text2morse, rust, blazing, fast"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap"
  rel="stylesheet"
/>
<link rel="icon" href="/assets/favicon.svg" />
<link rel="stylesheet" href="/assets/styles/main.css" />
